<h1 style="text-align: center"><strong>Dodaj swoje dane:</strong></h1>
<% @user = local_user %>
<div class="add_contact_info" style="margin-top: -1%">
  <%= form_with model: [ local_user, local_user.build_contact_info ] do |user| %>
    <%= user.label "Imię: " %><br>
    <%= user.text_field :name %><br>
    <%= user.label "Nazwisko" %><br>
    <%= user.text_field :surname %><br>
    <%= user.label "Nr telefonu" %><br>
    <%= user.number_field :phone %><br>
    <%= user.label "E-mail:" %><br>
    <%= user.text_field :email %><br>
    <%= user.label "Adres: " %><br>
    <%= user.text_field :address %><br>
    <div style="margin-top: 1%">
      <%= user.submit("Dodaj dane kontaktowe", class:"submit_button") %>
    </div>
  <% end %>
</div>
