<p>
    <% Array(local_user.contact_info).each_with_index do |user| %>
      <div class="contact_info">
        <%= user.name%>
        <%= user.surname%>
      </div>
      <div class="contact_info">
      <strong>E-mail:</strong>
      <%= user.email%>
      </div>
      <div class="contact_info">
      <strong>Telefon:</strong>
          <%= user.phone%>
      </div>
      <div class="contact_info">
        <strong>Adres:</strong>
        <%= user.address%>
      </div>
    <% end %>
</p>
