<%#= render partial: "contact_infos/add_contact_info", locals: { local_user: current_user }  %>
<div class="contact_info_welcome">Edytuj swoje dane i informacje kontaktowe:</div>
<% @user = current_user %>
<div class="contact_info_box" style="text-align: center; font-size: 20px;">
  <%= form_with model: [ @user, @user.contact_info] do |user| %>
    <%= user.label "Imię: " %><br>
    <%= user.text_field :name %><br>
    <%= user.label "Nazwisko" %><br>
    <%= user.text_field :surname %><br>
    <%= user.label "Nr telefonu" %><br>
    <%= user.number_field :phone %><br>
    <%= user.label "E-mail:" %><br>
    <%= user.text_field :email %><br>
    <%= user.label "Adres: " %><br>
    <%= user.text_field :address %><br>
    <div style="margin-top: 1%">
    <%= user.submit("Edytuj dane kontaktowe", class:"submit_button") %>
    </div>
  <% end %>
</div>
