<h1><%= @article.title %></h1>
<%= link_to "Edytuj nazwę CV", edit_article_path(@article) %> |
<%= link_to "Usuń CV", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Na pewno chcesz usunąć to CV?"
  } %>

<% @user = User.find_by(id: @article.user_id) %>

<%= render partial: "contact_infos/show_contact_infos", locals: { local_user: current_user } %>
<%= link_to "Dodaj dane do swojego CV", add_stuff_article_path(@article) %>

<h2>Doświadczenie zawodowe</h2>
<%= render partial: "experiences/show_exp" %>
