
<% @article.experiences.each do |experience| %>
  <div class="stuff_box">
    <% if experience.worked_as != nil %>
      <div class="stuff_header"><%= experience.worked_as %></div>
      <%= experience.company %><br>
      <%= experience.begin_date %> -
      <%= experience.finish_date %><br>
      <% if experience.currently %>
        Pracuję tam obecnie.
      <% end %><br>
      Obowiązki:<br>
      <%= experience.job_duties %><br>
      <!--  <%#= render partial: "duties/show_duties" %><br>-->
      <br>
      <%= link_to "Usuń doświadczenie", [experience.article, experience], class: "delete_stuff_button", data: {
        turbo_method: :delete,
        turbo_confirm: "Na pewno chcesz usunąć to doświadczenie?"
      } %> <br>
    <% end %>
  </div>
<% end %>