<div class="section_header">Edukacja</div>
<% @article.educations.each do |education| %>
  <div class="card card-body" id="experience_card">
  <% if education.school != nil %>
      <strong><%= education.school %></strong><br>
      <%= education.field_of_study %><br>
      <%= education.specialization %><br>
      <%= education.begin_date %> -
      <%= education.finish_date %><br>
      <% if education.currently %>
        Studiuję/uczę się tam obecnie.
      <% end %><br>
    </div>
  <% end %>
<% end %>